.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 20px;
}

.table__header {
  text-align: center;
  background-color: #f2f2f2;
}

.table__cell {
  text-align: start;
}

.table__header,
.table__cell {
  padding: 0.4rem;
  border: 1px solid #c9c9c9;
  font-size: 14px;
}

.table__cell__expander {
  text-align: start;
  display: flex;
  align-items: center;
}

.table__cell__toggle--expanded {
  cursor: pointer;
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.table.zebra {
  .table__row:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.table__style {
  float: right;
  width: 150px;
}

.table--no-data {
  width: 100%;
  margin: 50px 0 50px;
  text-align: center;
}

.table__loader {
  display: flex;
  margin: 50px 0 50px;
  align-items: center;
  justify-content: center;
}

.table__loader__spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.table__loader__spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #c9c9c9;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
